---
import {getEntry, getCollection, render} from "astro:content";
import Layout from "../layouts/Layout.astro";
const locale = Astro.currentLocale ?? 'pl';
const weeks = await getCollection('weeks');

---
<Layout>
<h1>Lista wydarzeń</h1>
  {weeks.map(week =><h2 transition:name={`${week.id}-title`} class="title"> <a href={`/${week.id}`}>{week.data.title}</a></h2>)}
</Layout>
