---
import {Share} from "@lucide/astro";
---
<style>
    button{
        display: flex;
        gap: 8px;
    }
</style>
<button id="copy-url-btn"><Share />Udostępnij</button>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('copy-url-btn');

    if (!button) return;

    button.addEventListener('click', async () => {
      try {
        await navigator.clipboard.writeText(window.location.href);
        const original = button.innerHTML;
        button.textContent = 'Skopiowano link!';
        button.classList.add('pico-background-jade-500')

        setTimeout(() => {
          button.innerHTML = original;
          button.classList.remove('pico-background-jade-500')
        }, 2000);
      } catch (err) {
        console.error('Błąd kopiowania URL:', err);
        button.textContent = 'Błąd';
      }
    });
  })
</script>